@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Share+Tech+Mono&display=swap');

body{
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}
.columns{
  columns:20vw 4;
}