@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Share+Tech+Mono&display=swap');

body{
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}

.block{
  width: 30vw;
  height: 30vw;
  background-color: #000;
  color: #fff;
  padding: 1rem;
}

.left{
  float: left;
  margin-right: 1rem;
}

.right{
  float:right;
  margin-left: 1rem;
}

p{
  /* wont work for items which are against floated comment and check  */

  /* padding-left: 1rem;  */
  /* margin-left: 1rem; */
}